[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/pragya-hrishav
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/pragya-hrishav
	label-Verified = -1..+1 group user/pragya-hrishav
	push = group user/pragya-hrishav
	read = group user/pragya-hrishav
	rebase = group user/pragya-hrishav
	removeReviewer = group user/pragya-hrishav
	submit = group user/pragya-hrishav
[access "refs/heads/*"]
	create = group user/pragya-hrishav
	push = +force group user/pragya-hrishav
	pushMerge = group user/pragya-hrishav
	read = group user/pragya-hrishav
[access "refs/tags/*"]
	push = group user/pragya-hrishav
	push = +force group user/pragya-hrishav
